@use '@carbon/react';

body {
  background: react.$background;
  color: react.$text-primary;
}

.tasks-section {
  background: react.$background;
  color: react.$text-primary;
  display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 50.5rem;
    min-height: 25rem;
    align-items: center;
    justify-content: space-around;
  }
  
  .task-done {
    width: 23rem;
    display: flex;
    flex-direction: row;
}

:root {
  @include react.theme(react.$g100);
}

[data-carbon-theme='g100'] {
  @include react.theme(react.$g100);
}