@use '@carbon/react';

body {
  background: react.$background;
  color: react.$text-primary;
}

.tasks-section {
  background: react.$background;
  color: react.$text-primary;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 26rem;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
  }
  
.tasks-done {
    width: 23rem;
    display: flex;
    flex-direction: column;
}
    

:root {
  @include react.theme(react.$g100);
}

[data-carbon-theme='g100'] {
  @include react.theme(react.$g100);
}
@media (max-width: 900px) {
  .tasks-section {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 2rem;
    padding: 1.5rem;
  }

  .tasks-done {
    width: 100%;
  }
}